@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@200;600&display=swap');

.App, #app {
  height: 100%;
  width: 100%;
}
p{
  margin: 0;
}

.App {
  background-color: #CF9D49;
  /* background-image: url('./assets/icee-dc-Dim92h1woeo-unsplash.jpg'); */
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  background-blend-mode: lighten;
  background-size: cover;
}

h3 {
  font-weight: 200;
  margin-top: -2rem;

}
a {
  text-transform: uppercase;
  font-family: 'Kanit';
  font-weight: 600;
  color: #fff;
  text-decoration: none;
  transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}
a:hover{
  opacity: 0.8;
}
a::after{
  content: ' \2192';
}

a.back::after {
  content: '';
}

a.back::before {
  content: '\2190\00A0';
}

footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5rem;
  background-color: #CD1C68;
}

.logo {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 600;
  font-size: 5rem;
  line-height: 54px;
  letter-spacing: -0.065em;
  color: #CD1C68;
}

.fade-enter {
  opacity: 0;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 200ms;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}